html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslategrey;
    min-width: 550px;
    height: 100%;
    font-family: monospace;
}

body *{
    border: solid black 2px;
}

#button-panel, .btn-row{
    border: 0px;
}

#face{
    padding: 50px;
    background-color:antiquewhite;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

#display{
    min-width: 300px;
    height:150px;
    background-color: rgb(206, 251, 236);
    border-radius: 10px;
    justify-content: space-between ;
    display: flex;
    flex-direction: column;
    padding: 10px;
}



p, input,input:focus{
    background-color: transparent;
    font-family: monospace;
    border:0px;
    border-color: transparent;
    margin: 0px;
    outline: none;
    padding: 0;
}

#history{
    text-align: right;
    font-size: 20pt;
    color:rgb(80, 80, 80);
}

#input{
    width: 100%; /* or any fixed/relative value */
    min-width: 0;
    box-sizing: border-box;
    text-align: left;
    font-size: 30pt;
    color:rgb(20, 20, 20);
}

#button-panel{
    display:flex;
    justify-content: space-between;
    gap:30px;
}

.subpanel{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:10px;
    border: 0;
}

.btn-row{
    display: flex;
    flex-direction: row;
    gap:10px;
}

.calcBtn{
    background-color: #f6f6f6;
    border-radius: 5px;
    height: 75px;
    width: 100px;
    margin: 0;
    font-size: 20pt;
}

.calcBtn:hover {
  background-color: #f0f0f0;
}

.calcBtn:active {
  background-color: #e0e0e0;
}

#btn-equals{
    width: 210px;
}