html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items: center;
    background-color: darkslategrey;
    min-width: 550px;
    height: 100%;
    font-family: monospace;
}

#button-panel, .btn-row{
    border: 0px;
}

#face{
    border: solid black 2px;
    padding: 50px;
    background-color:antiquewhite;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

#display{
    border: solid black 2px;
    min-width: 300px;
    height:100px;
    background-color: rgb(206, 251, 236);
    border-radius: 10px;
    justify-content: space-between ;
    display: flex;
    flex-direction: column;
    padding: 10px;
}



p, input,input:focus{
    background-color: transparent;
    font-family: monospace;
    border:0px;
    border-color: transparent;
    margin: 0px;
    outline: none;
    padding: 0;
}

#result{
    text-align: right;
    font-size: 26pt;
    color:rgb(20, 20, 20);
}

#input{
    width: 100%; /* or any fixed/relative value */
    min-width: 0;
    box-sizing: border-box;
    text-align: left;
    font-size: 20pt;
    color:rgb(80, 80, 80);
}

#button-panel{
    display:flex;
    justify-content: space-between;
    gap:30px;
}

.subpanel{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:10px;
    border: 0;
}

.btn-row{
    display: flex;
    flex-direction: row;
    gap:10px;
}

.calcBtn{
    background-color: #f6f6f6;
    border-radius: 5px;
    height: 75px;
    width: 100px;
    margin: 0;
    font-size: 20pt;
}

.calcBtn:hover {
  background-color: #f0f0f0;
}

.calcBtn:active {
  background-color: #e0e0e0;
}

#btn-equals{
    width: 210px;
}

#slider-container{
    width: 300px;
    display:flex ;
    flex-direction: column;
    gap: 10px;
}

.slider-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    
}

.slider-card p{
    font-size: 14pt;
    color: #e0e0e0;
    flex: 1;
    width:0;
}

.slider-card .leftlabel{
    text-align: right;
}

.slider-card .rightlabel{
    text-align: left;
}

.slider { 
    flex:none;
    position: relative; 
    display: inline-block; 
    width: 54px; 
    height: 24px;
    border: 0;
}
.slider input { 
    display: none; 
}
.track {
    position: absolute; 
    inset: 0; 
    background: #4caf50;
    border-radius: 30px;
    cursor: pointer; 
    transition: .3s; 
}
.track::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 4px;
    top: 4px;
    background:white;
    border-radius: 50%;
    transition: .3s; 
}

input:checked + .track::before {
    transform: translateX(30px);
}